<section class="row">
	<div class="nine columns">
		<h1>Stop disapointing your friends !</h1>
	</div>
</section>


<section class="row">
	<div class="five columns about_page">
		<h4>Start remembering what they tell you to watch.</h4>
		<p>
			You've lost many friends because you don't remeber to watch a
			movie they told you about?
			<br /><br />
			 This is for you. Make a simple list of movies to watch. Watch
			 them (that's the whole point of this, afterall), and cross them.
			You can now enjoy your saved friendships and your extensive movie
			trivia culture. You're welcome.
		</p>
	</div>
	<div class="seven columns">
		<%= image_tag("front_image.png", :id => "image_home_front") %>
	</div>
</section>

<section class="row">
	<%= link_to "Sign up now", '#', :class => 'button large blue radius', :id => "signbtn" %>
</section>

<section class="row">
	<div class="twelve columns">
		<h3>And it's easy !</h3>
	</div>
</section>

<section class="row">
	<div class="three columns about_page">
		<h4>Step One</h4>
		<%= image_tag("step_one.png", :class => "image_home") %>
		<p>
			One of your friends told you about a movie you <i>"absolutely need 
			to watch"</i> ? <br/><br/>
			Quick, add it to your list!
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Two</h4>
		<%= image_tag("step_two.png", :class => "image_home") %>
		<p>
			You can see all the movies that you need to watch right on the
			home page. You can't miss it.
			<br /><br />
			Let's say that on a rainy sunday afternoon, you want to watch
			something. Simple, just pick one from the list.
			
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Three</h4>
		<%= image_tag("step_three.png", :class => "image_home") %>
		<p>
			Once you've finished this  sweet movie, you can check it off 
			the list.
		</p>
	</div>
	<div class="three columns about_page">
		<h4>Step Four</h4>
		<%= image_tag("step_four.png", :class => "image_home") %>
		<p>
			As a bonus, you can see all the movies you watched in the past.
			<br /><br /> reminiscing all those fond memories, and braging to
			 your friends that "Yes, I have seen that movie !" No. More.
			 Drama. Fanstastic!
		</p>
	</div>
</section>

<section class="row">
	<%= link_to "Sign up now", '#', :class => 'button large blue radius', :id => "signbtn" %>
</section>


