<ul id="list_to_do">
<% current_user.items.incomplete.each do |item| %>
<div class="item_details">
<li class="<%= item.categorie %> pointer">
		<p><%= item.title %></p>
		<% watched = image_tag("watched.png", :alt => "Watched !", 
									:class => "watched_button")%>
		<%= link_to watched, complete_item_path(current_user,
														item.id),
										:remote => true,
										:update => '#list_done', 
										:class => 'watched_item'%>

		<% delete = image_tag("delete.png", :alt => "Delete", 
										:class => "delete_button")%>

		<%= link_to delete, item, :method => :delete, 
								  :remote => true, 
								  :class => 'delete_item' %>
		  
</li>
<div class="details <%= item.categorie %>">
	<%= image_tag("default_poster.png", :alt => "poster")%>
	<h5>HH:MM:SS | (YYYY)</h5>
	<p class="details_text">
		Nothing to see here for the moment ... 
		Be patient, young padawan ! Nothing to see here 
		for the moment ... Be patient, young padawan !
		Nothing to see here for the moment ... 
		Be patient, young padawan !
	</p>
	
	<br />
	<p class="details_link"><%= link_to "Score RT :  XXX %", '#' %>  |
	<%= link_to "Buy on amazon", '#' %></p>
</div>
</div>
<% end %>

<script type="text/javascript">
	(function () {
		var details = $('.details');
		details.hide();

		$('#list_to_do').on('click', 'li', function() {
			$(this).next().slideToggle( 'fast', function() {

			});
		});
	})();
</script>

</ul>
