<section class="row">
	<div id="search" class="eight columns offset-by-two">
		<%= form_for [@user, @item], :remote => true  do |form| %>
			<h2 id="categ_title_add">Add a movie you have yet to see :</h2>
			<%= form.text_field :title, :placeholder => "ex: Skyfall" %>
			<%= form.submit :ADD!,
				:class => "button add small",
				:id => "add_btn" %>
		<% end %>
	</div>
</section>

<section id="list" class="row">
	<div class="six columns" id="list">
		<h3>You should watch this :</h3>
		<%= render @item %>
	</div>

	<div class="six columns" id="list">
		<h3>Done !</h3>
		<%= render 'items/list_done'%>
	</div>
</section>




