<section class="row">
	<div id="search" class="eight columns offset-by-two">
		<h2>Choose a category :</h2>

		<%= form_for [@user, @item], :remote => true  do |form| %>

			

		<h2 id="categ_title_add">And add something right now :</h2>
			<%= form.text_field :title %> 
			<%= form.submit :Add, 
				:class => "button green small", 
				:id => "add_btn" %>

		<% end %>
	</div>
</section>

<section id="list" class="row">
	<div class="six columns" id="list">
		<h3>Your magnificent list :</h3>

			<%= render @item %>

	</div>

	<div class="six columns" id="list">

		<h3>Done !</h3>
		<%= render 'items/list_done'%>

	</div>


</section>




