<footer class="row air">
	<section class="twelve columns">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li>|</li>
		<li><%= link_to "About", about_path %></li>
		<li>|</li>
		<li><%= link_to "Contact", contact_path %></li>
		<li>|</li>
		<li><%= link_to "Blog", "#" %></li>
		<li>|</li>
		<li><%= link_to "McFreely 2012", '#' %></li>
	</ul>
	</section>
</footer>