<header class="row">
	<div class="seven columns">
		<% logo = image_tag("logo.png", :alt => 'Awesome List', 
										:id => "logo")%>
		<%= link_to logo, root_path %>
	</div>
	
	<div class="five columns">
		<nav>
			<% if user_signed_in? %>
				<ul>
					<li><%= link_to current_user.username, 
											profile_path %></li>
					<li id="pipe">|</li>
					<li><%= link_to "Sign out", destroy_user_session_path, 
												:method => :delete %></li>
			<% else %>
				<ul>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<li id="pipe">|</li>
					<li><%= link_to "Register", 
										new_user_registration_path %></li>
				</ul>
			<% end %>
		</nav>
	</div>
</header>