<header class="row">
	<div class="seven columns">
		<%= link_to "The Awesome List", root_path, :class => "logo"%>
	</div>
	
	<div class="five columns">
		<nav>
			<% if user_signed_in? %>
				<a><%= current_user.username %></a>
				<%= link_to "Sign out", destroy_user_session_path, 
													:method => :delete %>
			<% else %>
				<ul>
					<li><%= link_to "Sign In", new_user_session_path %></li>
					<li>|</li>
					<li><%= link_to "Register", 
										new_user_registration_path %></li>
				</ul>
			<% end %>
		</nav>
	</div>
</header>